 .u-section-1 {
  background-image: url("images/factory.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 870px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("images/guru-1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.9375rem;
  font-family: Lato, sans-serif;
  margin: 60px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 32px;
  letter-spacing: normal;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 870px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 0 0 0 328px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 23px 0 0 321px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 205px;
  min-width: 112px;
  margin: 485px 30px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 867px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 130px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 60.81% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.9375rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 66.4% 100%;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 564px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 526px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Screenshot_4.jpg");
  background-size: cover;
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-2 .u-image-1 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-image-1 {
    min-height: 314px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 888px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-video-1 {
  min-height: 646px;
  filter: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 30px 26px 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 798px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-3 .u-text-1 {
  margin: 8px 14px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 14px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 33px 7px 0;
}

.u-section-3 .u-image-1 {
  width: 217px;
  height: 97px;
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-3 .u-video-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 658px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-video-1 {
    min-height: 845px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-video-1 {
    min-height: 634px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-video-1 {
    min-height: 399px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 658px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 559px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 559px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}